---
import MainGridLayout from "../layouts/MainGridLayout.astro";
import PostCard from "../components/PostCard.astro";
import Pagination from "../components/control/Pagination.astro";
import {getSortedPosts} from "../utils/content-utils";
import {getPostUrlBySlug} from "../utils/url-utils";
import {PAGE_SIZE} from "../constants/constants";
import PostPage from "../components/PostPage.astro";

export async function getStaticPaths({ paginate }) {
    const allBlogPosts = await getSortedPosts();
    return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}

const {page} = Astro.props;

const len = page.data.length;

---

<MainGridLayout>
    <PostPage page={page}></PostPage>
    <script is:inline>
        if (window.matchMedia("( min-width: 1024px )").matches == true) {
            document.write(
                '<div class="ad pc"><ins class="adsbygoogle" style="display:inline-block;width:28%;height:90px" data-ad-client="ca-pub-8867843198260985" data-ad-slot="4965624947"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script></div>'
            );
        }
        if (window.matchMedia("( max-width: 768px )").matches == true) {
            document.write(
                '<div class="ad mobile"><ins class="adsbygoogle" style="display:inline-block;width:350px;height:150px" data-ad-client="ca-pub-8867843198260985" data-ad-slot="7650439822"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script></div>'
            );
        }
    </script>
    <Pagination class="mx-auto onload-animation" page={page} style=`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`></Pagination>
</MainGridLayout>